	<div class="footer">
		<table width="960" border="0" align="center" cellpadding="0"
			cellspacing="0">
			<tbody>
				<tr>
					<td align="center" class="copy"><br>
					<a href="http://ahciq.gov.cn/system/2010/10/17/000004969.shtml">版权申明</a>
						| <a href="http://ahciq.gov.cn/system/2010/10/16/000004968.shtml">联系我们</a>
						<br> 欢迎访问安徽国检网，您是第&nbsp;<span id="alltotal"></span>&nbsp;位访客。<br>
						版权所有：安徽出入境检验检疫局 地址：合肥市屯溪路329号 邮编：230022 电话：0551-62856000<br>
						技术支持：中安在线 ICP备案号：皖ICP备07503654号-1<br>党政机关网站电子标识编号：CA330000000604140460003
					</td>
				</tr>
			</tbody>
		</table>
		<script src="/js/foot.js"></script>
	</div>
	<div id="backtotop">
		<i class="fa fa-arrow-circle-up"></i>
	</div>
	