<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>${contentF.title!''} - ${catalogF.name}</title>
<meta name="keywords" content="">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
<link href="/css/base.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<script src="/js/jquery.js"></script>
<script src="/js/base.js" type="text/javascript"></script>
<!--[if lt IE 8]>
		<script src="/js1/png.js"type="text/javascript"></script>
		<script src="/js1/htmlfix.js"type="text/javascript"></script>
		<![endif]-->
<script>
	var lmid = 0;
</script>
</head>
<body>
	<#include "/wwwroot/${sitePath}/template/common/head.html">

	<script language="JavaScript" type="text/JavaScript">
	window.onload = function(){
	var contentid = "${contentF.id?if_exists}";
	var urlStr = "${contextpath}/contentsController.do?addPv";
		$.ajax({
			type:'post',
			url:urlStr,
			data:"contentId="+contentid,
			success:function(msg){
			}
		});
	}
		
			
		function fontZoom(size) {
			document.getElementById('fontZoom').style.fontSize = size + 'px';
			document.getElementById('fontZoom').style.lineHeight = size * 2
					+ 'px';
		}
		var newsid = 14598;
	</script>

	<div class="cl"></div>
	<div class="container nav2" style="padding:15px 0;">
		<a href="/">首页</a> &gt;&gt; 
		<#assign navTag =newTag("navTag")>
		<#assign navTagList =navTag("{'name':'${catalogF.id}'}")>
		<#if navTagList?exists>
			<#list navTagList as navTag>
					<a href="${navTag.url!'javascript:void(0);'}">${navTag.name}&gt;&gt; </a>
			</#list>
		</#if>
	</div>
	<div class="container" style="padding:15px 0;border:1px solid #D6E9F8">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td align="center" class="title3">${contentF.title!''}</td>
				</tr>
				<tr>
					<td align="center"></td>
				</tr>
				<tr>

					<td height="40" align="center" id="noline">
					信息来源：${contentF.sourceid!''}&nbsp;&nbsp;&nbsp;&nbsp;作者：${contentF.author!''}&nbsp;&nbsp;&nbsp;&nbsp;时间:
					<#if contentF.published?exists>${contentF.published?string('yyyy-MM-dd HH:mm:ss')}</#if>
					&nbsp;&nbsp;&nbsp;&nbsp;点击：<span>${contentF.pv!''}</span>
						【字体：<a href="javascript:fontZoom(22)" target="_self">大</a> <a
						href="javascript:fontZoom(14)" target="_self">中</a> <a
						href="javascript:fontZoom(12)" target="_self">小</a>】</td>
				</tr>
				<tr>
					<td align="center">
						<table width="90%" border="0" cellspacing="0" cellpadding="0"
							align="center">
							<tbody>
								<tr>
									<td bgcolor="#D6E9F8" height="1"></td>
								</tr>
							</tbody>
						</table></td>
				</tr>
				<tr>
					<td><table width="100%" border="0" cellspacing="0"
							cellpadding="10">
							<tbody>
								<tr>
									<td class="zw" id="fontZoom"
										style="font-size: 14px; line-height: 44px;">
										${articleDataF.content!''}
										</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td class="blue3" width="70%"></td>
									<td align="center" class="blue3" width="30%">编辑：${contentF.editor!''}</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="cl"></div>
	<#include "/wwwroot/${sitePath}/template/common/foot.html">
	

</body>
</html>