/*
#stepcontent{ height:37px; background-color:White;}
#stepcontent .inner{width:975px; margin:0px auto; height:37px; height:24px; padding:7px 0px 6px 0px; overflow:hidden;}
#stepcontent ul{ width:604px; background:url(../pic/stepcontent_bg.jpg) no-repeat 0px 0px; height:24px;}
#stepcontent li{ padding:0px 0px 0px 26px; font-weight:bold; font-size:16px; color:#9A9A9A; float:left; height:24px; line-height:24px;}
#stepcontent .li1{ width:83px;}
#stepcontent .li2{ width:136px;}
#stepcontent .li3{ width:134px;}
#stepcontent .li4{ padding-left:40px;}
#stepcontent .current{ color:#FD8311;}
*/


#stepcontent{ height:37px; background-color:White;}
#stepcontent .inner{width:975px; margin:0px auto; height:37px; height:24px; padding:0px 0px 13px 0px; overflow:hidden;}
#stepcontent li{ font-size:14px; font-weight:bold; color:#9A9A9A; height:24px; line-height:24px; overflow:hidden; background:url(../pic/step03.jpg) no-repeat right 0px #EFEFEF; float:left; padding:0px 35px 0px 20px;}
#stepcontent .current{  color:White; background-image:url(../pic/step01.jpg); background-color:#FD780F;}
#stepcontent .currents{ color:White; background-image:url(../pic/step02.jpg); background-color:#FD780F;}
#stepcontent .last{ background-image:url(../pic/step04.jpg);}
#stepcontent .select{ color:#FD780F;}

#maincontent{ border:solid 1px #E6E5E5;width:948px; background-color:White; padding:25px 0px 25px 25px; margin:20px auto;}
#maincontent h2{ color:#123174; font-size:14px; font-family:'ËÎÌå'; line-height:25px;font-weight:normal;}
#maincontent h2 span{ display:block; color:#484848; line-height:20px; font-weight:normal;float: left;}
#maincontent .h2{color:#FD780F;}
#maincontent .r{ float:right; border-left:solid 1px #DDDDDD; width:270px; padding:20px 30px 30px 50px;}
#maincontent .r ul{  padding:10px 0px 0px 0px;}
#maincontent .r .ul{}
#maincontent .r .dd{ color:#5e99d6; font-size:16px; background:url(../pic/li02.jpg) no-repeat 0px 8px; line-height:20px; padding:3px 0px 3px 18px;}
#maincontent .l{ float:left; width:570px;}
#maincontent .l ul{ padding:25px 0px;}
#maincontent .l li{ padding:5px 0px;}
#maincontent .l label{ display:inline-block; width:70px;}
#maincontent .l .text{ margin:0px 9px 0px 0px; width:185px; padding:0px 5px; height:28px; line-height:28px; border:solid 1px #E0E0E0; background-color:#F9F9F9; vertical-align:middle;}
#maincontent .l .s1{ color:#FB7914;}
#maincontent .l .s2{ color:#5E99D6;}
#maincontent .l li .s2 a{ margin:0px 8px 0px 0px; color:#FD780F;}
#maincontent .l .agreeli{ padding-left:70px;color:#5E99D6;}
#maincontent .l .agreelis{ color:#FD780F;}
#maincontent .l .checkbox{ vertical-align:middle; margin:-2px 5px 0px 0px;}
#maincontent .l .libtn{ padding-left:70px;  padding-top:15px;}
#maincontent .l .regbtn{ width:88px; height:29px; border:0px; cursor:pointer; background:url(../pic/regbtn.jpg) no-repeat 0px 0px;}


#reginfo{}
#reginfo dl{ width:925px;}
#reginfo dt{ padding:0px 0px 0px 15px; height:30px; line-height:30px; background-color:#F7F7F7; color:#5e99d6; font-size:16px; }
#reginfo dt span{ padding:0px 3px; font-weight:normal; color:#AEAEAE;}
#reginfo dt label{ color:#FD780F;}
#reginfo dd{ padding:15px;}
#reginfo .image{ width:99px; padding:50px 50px 0px 0px; float:right;}
#reginfo .image img{ width:97px; height:120px; border:solid 1px #DDDDDD;}
#reginfo .image .uploadbtn{ margin:10px 0px 0px 0px; width:100px; height:25px; border:0px; background:url(../pic/uploadbtn.jpg) no-repeat 0px 0px; cursor:pointer;}
#reginfo .dec{ border-top:dotted 1px #DDDDDD; padding:15px 0px; line-height:180%; color:#EA4D21;}
#reginfo .dec p{color:#EA4D21;}
#reginfo .btns .btn1{ margin:0px 10px 0px 0px; width:155px; border:0px; height:25px; cursor:pointer; background:url(../pic/savebtns.jpg) no-repeat 0px 0px;}
#reginfo .btns .btn2{ width:202px; height:25px; border:0px; cursor:pointer;background:url(../pic/savebtns.jpg) no-repeat right 0px;}
#reginfo ul{ padding:10px 0px 20px 30px;}
#reginfo li{ color:#AEAEAE; line-height:20px; padding:12px 0px 2px 0px;}
#reginfo li span{ text-align:right; display:inline-block; width:100px; color:#484848;}
#reginfo li label{ color:#FD780F; padding:0px 2px;}
#reginfo li p{color:#FD780F; padding-left:100px;}
#reginfo li .text{ width:220px; padding:0px 5px; height:21px; line-height:21px; border:solid 1px #E0E0E0; vertical-align:middle; margin:0px 8px 0px 0px;}
#reginfo li .select{ height:20px; line-height:20px; border:solid 1px #E0E0E0; vertical-align:middle; margin:0px 8px 0px 0px;}
#reginfo li .checkbox{ vertical-align:middle; margin:0px 8px 0px 0px;}
#regsuccess{ padding:40px 170px;}
#regsuccess p{ padding:2px 0px; font-size:14px; line-height:22px;}
#regsuccess span{ color:#FD780F; font-size:14px;}
#regsuccess label{ color:#FD780F; font-size:14px;}
#regsuccess .btns{ text-align:center; padding:45px 0px 15px 0px;}
#regsuccess .btns .btn1{height:48px; border:0px; margin:0px 10px; background:url(../pic/regsuccessbtns.jpg) no-repeat 0px 0px; cursor:pointer; width:179px;}
#regsuccess .btns .btn2{ height:48px; border:0px; margin:0px 10px; background:url(../pic/regsuccessbtns.jpg) no-repeat right 0px; cursor:pointer; width:178px;}
#regsuccess a{ color:#154AAF; text-decoration:underline; font-size:14px; font-weight:bold; margin:0px 1px;}
#regsuccess .a1{color:#FD780F; font-weight:normal; text-decoration:none;}

#resumecontent{ width:975px; margin:20px auto 0px auto;  padding:0px 0px 10px 0px;}
#leftcontent{ float:left; width:178px; border:solid 1px #E1E1E1; background-color:White;}
#leftcontent dl{ padding:10px 14px;}
#leftcontent dd{ padding:0px 2px;}
#leftcontent dt{ color:#FD780F; font-size:18px; font-family:'Î¢ÈíÑÅºÚ'}
#leftcontent li{ background:url(../pic/li04.jpg) no-repeat right 5px; height:25px; line-height:25px; overflow:hidden;}
#leftcontent li span{ color:#FD780F;}
#leftcontent .finish{background:url(../pic/li03.jpg) no-repeat right 5px;}
#leftcontent ul{ padding:7px 0px; border-bottom:solid 1px #E1E1E1;}
#leftcontent .dec{ line-height:20px; padding:5px 0px 0px 0px;}
#leftcontent .dec span{color:#FD780F; padding:0px 3px 0px 0px;}
#leftcontent .p2{ background:url(../pic/li04.jpg) no-repeat 0px 4px; padding:0px 0px 0px 24px;}
#rightcontent{ line-height:180%; background-color:White; overflow:hidden; float:right;border:solid 1px #E1E1E1; width:740px; padding:10px 20px;}
#rightcontent dl{padding:5px 0px 5px 0px;border-bottom:dotted 1px #BFBFBF;}
#rightcontent dt{ cursor:pointer; padding:0px 20px 0px 10px; *padding:0px 10px 0px 10px; color:#FD780F; font-size:14px; font-weight:bold; height:30px; line-height:30px; background-color:#F7F7F7;}
#rightcontent dd{ display:none; padding:10px 0px; }
#rightcontent .dec{ padding:10px 0px; border-top:dotted 1px #BFBFBF; }
#rightcontent .dec p{ padding-left:0px; color:#FD780F;}
#rightcontent dd ul{ padding:0px 50px 0px 10px;}
#rightcontent dd li{ padding:7px 0px; line-height:170%;}
#rightcontent dd span{ display:inline-block; width:100px; text-align:right;}
#rightcontent dd span label{color:#FD780F; padding:0px 2px;}
#rightcontent dd .myresume{ vertical-align:middle; border:solid 1px #E0E0E0; background-color:#F9F9F9; height:25px; line-height:25px; padding:0px 5px; width:460px; margin:0px 10px 0px 0px;}
#rightcontent dd .saveresumebtn{ vertical-align:middle; width:55px; height:23px; border:0px; background:url(../pic/savebtn.jpg) no-repeat 0px 0px; cursor:pointer;}
#rightcontent dd p{ padding-left:100px; color:#AEAEAE;}
#rightcontent dd a{ color:#5E99D6;}
#rightcontent dd .textarea{border:solid 1px #E0E0E0; width:150px; background-color:#F9F9F9;  padding:5px; vertical-align:top; height:50px;}
#rightcontent dt .addbtn{ cursor:pointer; padding:0px 0px 0px 20px;*padding:0px 0px 0px 10px; color:#174387; font-size:14px; font-weight:bold; height:16px; line-height:16px; float:right; margin:8px 0px 0px 0px; background:url(../pic/addtitle.jpg) no-repeat 0px 0px; border:0px;}
#rightcontent dt .savebtn{ display:none; cursor:pointer; padding:0px 0px 0px 20px;*padding:0px 0px 0px 10px; color:#FD780F; font-size:14px; font-weight:bold; height:16px; line-height:16px; float:right; margin:8px 0px 0px 0px; background:url(../pic/savetitle.jpg) no-repeat 0px 0px; border:0px;}
#rightcontent .current .addbtn{ display:none;}
#rightcontent .current dd{ display:block;}
#rightcontent .current .savebtn{ display:block;}


#rightcontent .dlcontent .image{ width:99px; padding:50px 50px 0px 0px; float:right;}
#rightcontent .dlcontent .image img{ width:97px; height:120px; border:solid 1px #DDDDDD;}
#rightcontent .dlcontent .image .uploadbtn{ margin:10px 0px 0px 0px; width:100px; height:25px; border:0px; background:url(../pic/uploadbtn.jpg) no-repeat 0px 0px; cursor:pointer;}
#rightcontent .dlcontent .dec{ border-top:dotted 1px #DDDDDD; padding:15px 0px; line-height:180%; color:#EA4D21;}
#rightcontent .dlcontent .dec p{color:#EA4D21;}
#rightcontent .dlcontent .btns .btn1{ margin:0px 10px 0px 0px; width:155px; border:0px; height:25px; cursor:pointer; background:url(../pic/savebtns.jpg) no-repeat 0px 0px;}
#rightcontent .dlcontent .btns .btn2{ width:202px; height:25px; border:0px; cursor:pointer;background:url(../pic/savebtns.jpg) no-repeat right 0px;}
#rightcontent .dlcontent ul{ padding:10px 0px 20px 0px;}
#rightcontent .dlcontent li{ color:#AEAEAE; line-height:20px; padding:12px 0px 2px 0px;}
#rightcontent .dlcontent li span{ text-align:right; display:inline-block; width:100px; color:#484848;}
#rightcontent .dlcontent li label{ color:#FD780F; padding:0px 2px;}
#rightcontent .dlcontent li p{color:#FD780F; padding-left:100px;}
#rightcontent .dlcontent li .text{ width:220px; padding:0px 5px; height:21px; line-height:21px; border:solid 1px #E0E0E0; vertical-align:middle; margin:0px 8px 0px 0px;}
#rightcontent .dlcontent li .select{ height:20px; line-height:20px; border:solid 1px #E0E0E0; vertical-align:middle; margin:0px 8px 0px 0px;}
#rightcontent .dlcontent li .checkbox{ vertical-align:middle; margin:0px 8px 0px 0px;}



/*ËÑË÷*/

.s_ipt_wr {
    width: 536px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
    background-position: 0px -96px;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #7B7B7B #B6B6B6 #B6B6B6 #7B7B7B;
    vertical-align: top;
}

.s_ipt {
    margin: 5px 0px 0px 7px;
    padding: 0px;
    background: none repeat scroll 0% 0% #FFF;
    border: 0px none;
    outline: 0px none;
    width: 523px;
    height: 22px;
    font: 16px/22px arial;
}
.s_btn_wr {
    width: 97px;
    height: 34px;
    display: inline-block;
    background-position: -120px -48px;
    z-index: 0;
    vertical-align: top;
}
.bg {
    background-image: url('http://s1.bdstatic.com/r/www/cache/static/global/img/icons_37d13939.png');
    background-repeat: no-repeat;
}
.fm {
    clear: both;
    position: relative;
    z-index: 297;
}
.s_btn {
    width: 95px;
    height: 32px;
    font-size: 14px;
    padding: 0px;
    background-color: #DDD;
    background-position: 0px -48px;
    border: 0px none;
    cursor: pointer;
}
.l li{ margin:10px 14px 0px 0px; display:inline;  float:left; width:213px; line-height:30px; height:32px; overflow:hidden;}
.l li{ margin:10px 14px 0px 0px; display:inline;  no-repeat 0px 0px; float:left; width:213px; line-height:30px; height:32px; overflow:hidden;}
.l li a{ display:block; height:32px; padding:0px 0px 0px 70px; color:#5E99D6; font-size:14px;}
.l p {
    color: #555555;
}
.l h3 {
    font-size: 16px;
    color: #595C5F;
    padding: 10px 0px 15px;
    border-bottom: 1px dotted #DDD;
    height: 25px;
    line-height: 25px;
}
.l .fun {
    padding: 10px 0px 0px;
}
.l .fun a {
    margin: 0px 9px 0px 0px;
}

.menulist{ padding:20px 0px 0px 0px;}
.menulist dl{  float:left; width:550px; padding:0px 20px 0px 0px;}
.menulist dt{ padding:0px 15px; font-size:16px;font-family:'Î¢ÈíÑÅºÚ'; height:25px; line-height:25px; overflow:hidden; background-color:#F7F7F7;}
.menulist dd span{ line-height:22px; padding:8px 5px 10px 5px;_padding:8px 5px 0px 0px; color:#83c384; font-size:14px;}
.menulist dd { line-height:22px; padding:8px 5px 10px 15px;_padding:8px 5px 0px 15px; color:#83c384; font-size:14px;}
.menulist dt a{font-size:16px; color:#5e99d6;text-decoration:underline;}
.menulist dd span a{ color:#999; text-decoration:underline;}


.r {
    float: right;
    width: 270px;
    padding: 20px 30px 30px 50px;
}


.ming{width:270px; height:130px;}
.ming ul{list-style:none;}
.ming li{ text-align:center; line-height:20px; width:80px; height:100px;float:left; padding:0px 5px 0px 5px;}
.hh{ font-size:14px; line-height:24px; }
.aa a{ font-size:16px;}



<!--·ÖÒ³-->

.page{ text-align:center; padding:10px 0px 0px 0px;}
.page a{ color:#164AAF; border:solid 1px #C5C7C1; padding:4px 7px;}
.page .text{ height:19px; border:solid 1px #DDDDDD; text-align:center; width:30px; margin:0px 4px; vertical-align:middle;}
.page .btn{ cursor:pointer; padding:3px 5px; margin:0px 0px 0px 5px;}
.page .current{ border:0px; color:#FD5D0E; padding:0px 4px; font-weight:bold;}















