<div class="nj_hotText_v2">
				<div class="nj_hotTextv2_title">
					<strong>联系方式</strong>
				</div>
				
				<ul class="nj_hotText_ul">
				 	<li><div class="nj_hotTextv2_text2" style="height:15px">
						<h2>公司：北京雷铭智信科技有限公司</h2></div></li>
				 	<li><div class="nj_hotTextv2_text2" style="height:15px">
						<h2>手机：13911052818</h2></div></li>
				 	<li><div class="nj_hotTextv2_text2" style="height:15px">
						<h2>固话：010-65906171</h2></div></li>
				 	<li><div class="nj_hotTextv2_text2" style="height:15px">
						<h2>传真：010-65906171</h2></div></li>
				 	<li><div class="nj_hotTextv2_text2" style="height:15px">
						<h2>地址：北京市东城区美惠大厦一单元</h2></div></li>
				 	<li><div class="nj_hotTextv2_text2" style="height:15px">
						<h2>Email：<a href="mailto:huanglei@leimingtech.com">huanglei@leimingtech.com</a></h2></div></li>
				 	<li><div class="nj_hotTextv2_text2" style="height:15px">
						<h2>网址：<a href="http://www.leimingtech.com">http://www.leimingtech.com</a></h2></div></li>
				</ul>
</div>
	<div class="clear"></div>