.fa-lg,
.icon-lg {
  font-size: 16px;
}

.icon-default {
  color: #ccc;
}

.icon-success {
  color: #468847;
}

.icon-info {
  color: #27a9e3; 
}

.icon-warning {
  color: #dbc056;
}

.icon-danger {
  color: #B94A48;
}
