<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻</title>
<meta property="og:site_name" content="">
<meta property="og:title" content="" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />
<meta property="og:description" content="" />

<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta name="keywords" content="" />
<link href="/pcstyle/top.css" rel="stylesheet" type="text/css" />
<link href="/pcstyle/news.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="http:/media/image/favicon.ico" />
</head>
<body>
<!--头部 -->
<div class="toolbar">
<div id="site_nav">
<div id="site_nav_left">
<p class="site_p1"><a href="javascript:window.external.AddFavorite('/','华东网')">加入收藏夹</a></p>
<p class="site_p1">
<A onclick="javascript:this.style.behavior='url(#default#homepage)';this.setHomePage('/')"
 style="cursor:pointer">设为首页</A></p>
</div>

<div id="site_nav_right">
<script src="/e/member/login/loginjs.php"></script>|<a href="/">网站首页</a>|<a href="/Desktop.php">下载华东网到桌面</a>
</div>
</div>
</div>
<div class="main_ad1">
<img src="/pcstyle/newimg/main_ad1.jpg" border="0" />
</div>
<div class="top">
<div class="logo">
<a href="/"><img src="/pcstyle/images/logo.png" alt="新闻中心" border="0"></a>
</div>
<div class="so">
<form action="/e/search/index.php" method="post" id="unify_search">
<input type="hidden" name="show" value="title" />
<input type="hidden" name="tempid" value="1" />
<input type="text" class="search_input" id="keyboard" name="keyboard" value="请输入关键词" onfocus="if(this.value=='请输入关键词'){this.value='';this.style.color='#666'}" onblur="if(this.value==''){this.value='请输入关键词';this.style.color='#666'}" />
<input name="button" type="image" class="search_botton" id="button" src="/pcstyle/newimg/search_icon.png"/>
</form>
</div>
</div>
<div class="menu">
<div class="menu_t">
<ul>
<#include "section/menu.html"><!-- 导航 -->
</ul>
</div>
</div>

<!--主题 -->
<div class="content1">
<div class="content1_left">
<div class="focus">
<div id="focusImage" class="slideone">
<ul class="contents">
<!---->
<li style="display: list-item;">
<a href="/pic/zhoukou/2014-02-28/3624.html" target="_blank"><img src="/d/file/pic/zhoukou/2014-02-28/edd28d456b31396ac6e98b42ebbca866.jpg" alt=" 我市启动创建全国绿化模范城市工作"></a>
<h3><a href="/pic/zhoukou/2014-02-28/3624.html" target="_blank"> 我市启动创建全国绿化模范城市工作</a></h3>
</li>
<!-- -->

<!---->
<li style="display: none;">
<a href="/pic/zhoukou/2014-02-28/3623.html" target="_blank"><img src="/d/file/pic/zhoukou/2014-02-28/f535c4064adfb36ccbcd9cbf6a9d7f46.jpg" alt="周口1588对新人结良缘"></a>
<h3><a href="/pic/zhoukou/2014-02-28/3623.html" target="_blank">周口1588对新人结良缘</a></h3>
</li>
<!---->
<li style="display: none;">
<a href="/pic/zhoukou/2014-02-28/3622.html" target="_blank"><img src="/d/file/pic/zhoukou/2014-02-28/96b8a1eea3670c43958b62b3c0682b3d.jpg" alt="村里建起乡村俱乐部"></a>
<h3><a href="/pic/zhoukou/2014-02-28/3622.html" target="_blank">村里建起乡村俱乐部</a></h3>
</li>
<!---->
<li style="display: none;">
<a href="/pic/zhoukou/2014-02-28/3621.html" target="_blank"><img src="/d/file/pic/zhoukou/2014-02-28/077e83dc735b9f622164e8dffb75d0c5.jpg" alt="郑春光事迹引发90后“价值观”大讨论"></a>
<h3><a href="/pic/zhoukou/2014-02-28/3621.html" target="_blank">郑春光事迹引发90后“价值观”大讨论</a></h3>
</li>
<!---->
<li style="display: none;">
<a href="/pic/zhoukou/2014-02-28/3620.html" target="_blank"><img src="/d/file/pic/zhoukou/2014-02-28/d1d8501e25b0fa91876ec0f97c21a263.jpg" alt="2014春季人才招聘大会在市人才交流中心举行"></a>
<h3><a href="/pic/zhoukou/2014-02-28/3620.html" target="_blank">2014春季人才招聘大会在市人才交流中心举行</a></h3>
</li>
<!-- -->

</ul>
<div id="triggers">
<span class="cur">1</span>
<span class="">2</span>
<span class="">3</span>
<span class="">4</span>
<span class="">5</span>
</div>
<span id="pre_down" style="display: none;"></span>
<span id="next_down" style="display: none;"></span>
</div>
<script src="/pcstyle/js/jquery-1.4.2.min.js"></script>
<script src="/pcstyle/js/index2013.js"></script>
</div>

<div class="left_001">
<div class="zbtj">
<!-- -->
<a href="/news/shehui/2013-12-24/2095.html" target="_blank">2014年节假日安排公布：除夕不放假</a>
<!-- -->
<a href="/news/shehui/2013-12-24/2091.html" target="_blank">教授：中国假日总量1年125天</a>
<!-- -->
</div>
<div class="xwt">

<div class="xwt_left">
<!-- -->
<a href="/news/guonei/2013-12-24/1941.html" target="_blank"><img src="/d/file/news/guonei/2013-12-24/2046b583ce60c35ac28e478699be14ac.jpg"></a>
<!-- -->
</div>
<div class="xwt_right">
<!-- -->
<h3><a href="/news/guonei/2013-12-24/1941.html" target="_blank">专家解读三峡八大焦点问题 否认蓄水诱发地震</a></h3>
<!-- -->
<ul>
<!-- -->
<li><a href="/news/guonei/2013-12-24/1934.html" target="_blank">嫦娥五号或2017年前后发射实现无人自动采样返回 </a></li>
<!-- -->
<li><a href="/news/guonei/2013-12-24/1926.html" target="_blank">探月工程总设计师：嫦娥3号200多故障预案没用上 </a></li>
<!-- -->
</ul>
</div>
</div>
</div>
<!-- -->
<div class="left_001">
<div class="title1">
<p class="p1"><a href="/news/guonei">国内新闻</a></p>
<p class="p2"><a href="/news/guonei">更多&gt;&gt;</a></p>
</div>
<div class="new1">
<div class="new1_a">
<a href="/news/guonei/2013-12-24/1947.html" title="嫦娥三号着陆器与巡视器分离 玉兔顺利抵达月面" target="_blank"><img src="/d/file/news/guonei/2013-12-24/1e3e8f30ed8a817a9c9c4ce2b86ebbf0.jpg"  alt=""><p>嫦娥三号着陆器与巡视器分离 玉兔顺利抵</p></a>
 
</div>
<div class="new1_b">
<ul>
<li><a href="/news/guonei/2013-12-24/1941.html" title="" target="_blank"><img src="/d/file/news/guonei/2013-12-24/2046b583ce60c35ac28e478699be14ac.jpg"  alt="专家解读三峡八大焦点问题 否认蓄水诱发地震"><p>专家解读三峡八大焦点问题 否认蓄水诱发地震</p></a></li>
 
<li style="margin-right:0px;"><a href="/news/guonei/2013-12-24/1936.html" title="中国广播电视协会：强烈谴责郭德纲不当言论" target="_blank"><img src="/d/file/news/guonei/2013-12-24/315a73ba63c9b11a21b3d3b2108ff802.jpg"  alt="中国广播电视协会：强烈谴责郭德纲不当言论"><p>中国广播电视协会：强烈谴责郭德纲不当言论</p></a></li>
</ul>
</div>
</div>
<div class="new2">
<ul>
<h3><a href="/news/guonei/2013-12-24/1950.html" title="嫦娥成功落月保障：“脑中”设六道“密码”" target="_blank">嫦娥成功落月保障：“脑中”设六道“</a></h3>
 

<li><a href="/news/guonei/2013-12-24/1948.html" title="骆家辉：望史书描述中美共同努力取得的伟大成果" target="_blank">骆家辉：望史书描述中美共同努力取得的伟大成果</a></li>
<li><a href="/news/guonei/2013-12-24/1949.html" title="中国加入深空探测俱乐部 嫦娥三号80%系全新科技" target="_blank">中国加入深空探测俱乐部 嫦娥三号80%系全新科技</a></li>
<li><a href="/news/guonei/2013-12-24/1946.html" title="“嫦娥玉兔”成功落月 传回月球表面清晰图片" target="_blank">“嫦娥玉兔”成功落月 传回月球表面清晰图片</a></li>
<li><a href="/news/guonei/2013-12-24/1947.html" title="嫦娥三号着陆器与巡视器分离 玉兔顺利抵达月面" target="_blank">嫦娥三号着陆器与巡视器分离 玉兔顺利抵达月面</a></li>
<li><a href="/news/guonei/2013-12-24/1944.html" title="前外交部长李肇星称满意新书:说的都是真话" target="_blank">前外交部长李肇星称满意新书:说的都是真话</a></li>
<li><a href="/news/guonei/2013-12-24/1945.html" title="环保部官员：大气法形成初稿 明年将报国务院" target="_blank">环保部官员：大气法形成初稿 明年将报国务院</a></li>
<li><a href="/news/guonei/2013-12-24/1942.html" title="政协常委：领导人生活待遇修订后应公开" target="_blank">政协常委：领导人生活待遇修订后应公开</a></li>
<li><a href="/news/guonei/2013-12-24/1943.html" title="编译局副局长：民主法治是破解官本主义惟一途径" target="_blank">编译局副局长：民主法治是破解官本主义惟一途径</a></li>
<li><a href="/news/guonei/2013-12-24/1940.html" title="李肇星:“父母官”说法错误 百姓是所有人的父母" target="_blank">李肇星:“父母官”说法错误 百姓是所有人的父母</a></li>
<li><a href="/news/guonei/2013-12-24/1941.html" title="专家解读三峡八大焦点问题 否认蓄水诱发地震" target="_blank">专家解读三峡八大焦点问题 否认蓄水诱发地震</a></li>
<li><a href="/news/guonei/2013-12-24/1938.html" title="嫦娥二号已成为中国首个人造太阳系小行星" target="_blank">嫦娥二号已成为中国首个人造太阳系小行星</a></li>
<li><a href="/news/guonei/2013-12-24/1939.html" title="嫦娥三号备份星嫦娥四号将进行适应性改进" target="_blank">嫦娥三号备份星嫦娥四号将进行适应性改进</a></li>
<li><a href="/news/guonei/2013-12-24/1936.html" title="中国广播电视协会：强烈谴责郭德纲不当言论" target="_blank">中国广播电视协会：强烈谴责郭德纲不当言论</a></li>
<li><a href="/news/guonei/2013-12-24/1937.html" title="嫦娥五号预计2017年前后完成研制并择机发射" target="_blank">嫦娥五号预计2017年前后完成研制并择机发射</a></li>
 
</ul>
</div>
</div>
<!-- -->
<div class="left_001">
<div class="title1">
<p class="p1"><a href="/news/guoji">国际新闻</a></p>
<p class="p2"><a href="/news/guoji">更多&gt;&gt;</a></p>
</div>
<div class="new1">
<div class="new1_a">
<a href="/news/guoji/2013-12-24/2039.html" title="卡塔尔制全球最大国旗庆国庆 可覆盖7足球场" target="_blank"><img src="/d/file/news/guoji/2013-12-24/ae4dd766601ee62e66619c14383d8093.jpg"  alt=""><p>卡塔尔制全球最大国旗庆国庆 可覆盖7足</p></a>
 
</div>
<div class="new1_b">
<ul>
<li><a href="/news/guoji/2013-12-24/2038.html" title="" target="_blank"><img src="/d/file/news/guoji/2013-12-24/38b4e7e65e01334170d040065b8b7a11.jpg"  alt="美国第一夫人参加圣诞节目穿天价套装引争议"><p>美国第一夫人参加圣诞节目穿天价套装引争议</p></a></li>
 
<li style="margin-right:0px;"><a href="/news/guoji/2013-12-24/2026.html" title="美国每年8亿美元彩金无人领 多人错失成富翁机会" target="_blank"><img src="/d/file/news/guoji/2013-12-24/cc9fbebdeb30311872c7de126cbdee06.jpg"  alt="美国每年8亿美元彩金无人领 多人错失成富翁机会"><p>美国每年8亿美元彩金无人领 多人错失成富翁</p></a></li>
</ul>
</div>
</div>
<div class="new2">
<ul>
<h3><a href="/news/guoji/2013-12-24/2044.html" title="英国威廉王子花费百万元为妻儿购买防弹轿车" target="_blank">英国威廉王子花费百万元为妻儿购买防</a></h3>
 

<li><a href="/news/guoji/2013-12-24/2042.html" title="美一父亲连续25年用摄影仪拍摄子女过圣诞情景" target="_blank">美一父亲连续25年用摄影仪拍摄子女过圣诞情景</a></li>
<li><a href="/news/guoji/2013-12-24/2043.html" title="伦敦警局旧址将改造为豪华酒店 1万英镑住一晚" target="_blank">伦敦警局旧址将改造为豪华酒店 1万英镑住一晚</a></li>
<li><a href="/news/guoji/2013-12-24/2040.html" title="调查称三成日本男性愿和比自己年龄大女性恋爱" target="_blank">调查称三成日本男性愿和比自己年龄大女性恋爱</a></li>
<li><a href="/news/guoji/2013-12-24/2041.html" title="乔丹在芝加哥豪宅拍卖疑因价格太高无人竞买" target="_blank">乔丹在芝加哥豪宅拍卖疑因价格太高无人竞买</a></li>
<li><a href="/news/guoji/2013-12-24/2038.html" title="美国第一夫人参加圣诞节目穿天价套装引争议" target="_blank">美国第一夫人参加圣诞节目穿天价套装引争议</a></li>
<li><a href="/news/guoji/2013-12-24/2039.html" title="卡塔尔制全球最大国旗庆国庆 可覆盖7足球场" target="_blank">卡塔尔制全球最大国旗庆国庆 可覆盖7足球场</a></li>
<li><a href="/news/guoji/2013-12-24/2032.html" title="美媒列全球各大城市停车费 伦敦一天70美元居首" target="_blank">美媒列全球各大城市停车费 伦敦一天70美元居首</a></li>
<li><a href="/news/guoji/2013-12-24/2033.html" title="澳悉尼人口稠密区现鼠患 议会将加设灭鼠器" target="_blank">澳悉尼人口稠密区现鼠患 议会将加设灭鼠器</a></li>
<li><a href="/news/guoji/2013-12-24/2030.html" title="美国公司产婴儿座椅因安装iPad被指阻碍发育" target="_blank">美国公司产婴儿座椅因安装iPad被指阻碍发育</a></li>
<li><a href="/news/guoji/2013-12-24/2031.html" title="日发现可提取一氧化碳新材料 10年内或可应用" target="_blank">日发现可提取一氧化碳新材料 10年内或可应用</a></li>
<li><a href="/news/guoji/2013-12-24/2028.html" title="韩国娱乐圈性交易丑闻众女星否认 欲告造谣者" target="_blank">韩国娱乐圈性交易丑闻众女星否认 欲告造谣者</a></li>
<li><a href="/news/guoji/2013-12-24/2029.html" title="印女子祭祀时遭斩首献祭 巫师等6涉案人被捕" target="_blank">印女子祭祀时遭斩首献祭 巫师等6涉案人被捕</a></li>
<li><a href="/news/guoji/2013-12-24/2026.html" title="美国每年8亿美元彩金无人领 多人错失成富翁机会" target="_blank">美国每年8亿美元彩金无人领 多人错失成富翁机会</a></li>
<li><a href="/news/guoji/2013-12-24/2027.html" title="调查：约三成日本年轻男子希望交往比自己大女性" target="_blank">调查：约三成日本年轻男子希望交往比自己大女性</a></li>
 
</ul>
</div>
</div>
<!-- -->
<div class="left_001">
<div class="title1">
<p class="p1"><a href="/news/shehui">社会民生</a></p>
<p class="p2"><a href="/news/shehui">更多&gt;&gt;</a></p>
</div>
<div class="new1">
<div class="new1_a">
<a href="/news/shehui/2013-12-24/2093.html" title="全国公共财政12月或将突击花钱近25000亿(图)" target="_blank"><img src="/d/file/news/shehui/2013-12-24/de0abfaaaaaecf04698f0d1696f06b36.jpg"  alt=""><p>全国公共财政12月或将突击花钱近25000亿</p></a>
 
</div>
<div class="new1_b">
<ul>
<li><a href="/news/shehui/2013-12-24/2087.html" title="" target="_blank"><img src="/d/file/news/shehui/2013-12-24/cacf653ff17b28af172783528ee7b128.jpg"  alt="女生被指偷窃遭人肉搜索投河自杀 发帖人被拘"><p>女生被指偷窃遭人肉搜索投河自杀 发帖人被拘</p></a></li>
 
<li style="margin-right:0px;"><a href="/news/shehui/2013-12-24/2080.html" title="人教语文课本被指多处配图错误：战国人吃上葡萄" target="_blank"><img src="/d/file/news/shehui/2013-12-24/d5bfeffbc1575dc0900ac0bd95cb3b8b.jpg"  alt="人教语文课本被指多处配图错误：战国人吃上葡萄"><p>人教语文课本被指多处配图错误：战国人吃上</p></a></li>
</ul>
</div>
</div>
<div class="new2">
<ul>
<h3><a href="/news/shehui/2013-12-24/2095.html" title="2014年节假日安排公布：除夕不放假 元旦休一天" target="_blank">2014年节假日安排公布：除夕不放假 元</a></h3>
 

<li><a href="/news/shehui/2013-12-24/2093.html" title="全国公共财政12月或将突击花钱近25000亿(图)" target="_blank">全国公共财政12月或将突击花钱近25000亿(图)</a></li>
<li><a href="/news/shehui/2013-12-24/2094.html" title="专家称除夕不再是法定假日 成‘隐性’福利" target="_blank">专家称除夕不再是法定假日 成‘隐性’福利</a></li>
<li><a href="/news/shehui/2013-12-24/2091.html" title="教授：中国假日总量1年125天 等于干2天休1天" target="_blank">教授：中国假日总量1年125天 等于干2天休1天</a></li>
<li><a href="/news/shehui/2013-12-24/2092.html" title="人社部：上海等地开始探索渐进式延迟退休" target="_blank">人社部：上海等地开始探索渐进式延迟退休</a></li>
<li><a href="/news/shehui/2013-12-24/2089.html" title="广电总局：卫视每天须播30分钟以上国产纪录片" target="_blank">广电总局：卫视每天须播30分钟以上国产纪录片</a></li>
<li><a href="/news/shehui/2013-12-24/2090.html" title="中烹协要求北京工商局就禁止自带酒水等条款道歉" target="_blank">中烹协要求北京工商局就禁止自带酒水等条款道歉</a></li>
<li><a href="/news/shehui/2013-12-24/2087.html" title="女生被指偷窃遭人肉搜索投河自杀 发帖人被拘" target="_blank">女生被指偷窃遭人肉搜索投河自杀 发帖人被拘</a></li>
<li><a href="/news/shehui/2013-12-24/2088.html" title="专家解密“玉兔号”月球车：能耐受300摄氏度温差" target="_blank">专家解密“玉兔号”月球车：能耐受300摄氏度温差</a></li>
<li><a href="/news/shehui/2013-12-24/2085.html" title="中国劳动力调查：超四成加班雇员无任何补偿" target="_blank">中国劳动力调查：超四成加班雇员无任何补偿</a></li>
<li><a href="/news/shehui/2013-12-24/2086.html" title="北京地铁拟高峰涨价 称公交运力足以分流乘客" target="_blank">北京地铁拟高峰涨价 称公交运力足以分流乘客</a></li>
<li><a href="/news/shehui/2013-12-24/2083.html" title="王健林：京沪房价不会跌 业内不满意房地产调控" target="_blank">王健林：京沪房价不会跌 业内不满意房地产调控</a></li>
<li><a href="/news/shehui/2013-12-24/2084.html" title="财政部部长：现行排污收费将改为环境保护税" target="_blank">财政部部长：现行排污收费将改为环境保护税</a></li>
<li><a href="/news/shehui/2013-12-24/2081.html" title="高铁拟试点航空定价模式 普通列车由政府补贴" target="_blank">高铁拟试点航空定价模式 普通列车由政府补贴</a></li>
<li><a href="/news/shehui/2013-12-24/2082.html" title="公安部副部长谈户籍改革：须逐步剥离户口福利" target="_blank">公安部副部长谈户籍改革：须逐步剥离户口福利</a></li>
 
</ul>
</div>
</div>
<!-- -->
<div class="left_001">
<div class="title1">
<p class="p1"><a href="/news/zhoukou">周口新闻</a></p>
<p class="p2"><a href="/news/zhoukou">更多&gt;&gt;</a></p>
</div>
<div class="new1">
<div class="new1_a">
<a href="/news/zhoukou/2014-02-28/3616.html" title="老乞丐遭6名女乞丐围殴 自揭“江湖”规则(图)" target="_blank"><img src="/d/file/news/zhoukou/2014-02-28/34425bb6c32a1dd6bf981b019aeeb9df.jpg"  alt=""><p>老乞丐遭6名女乞丐围殴 自揭“江湖”规</p></a>
 
</div>
<div class="new1_b">
<ul>
<li><a href="/news/zhoukou/2014-02-28/3615.html" title="" target="_blank"><img src="/d/file/news/zhoukou/2014-02-28/0c16a9e55a63f8033aedbda035c86611.jpg"  alt="96后辣妈晒3岁孩子照片 警方：若属实则违法(图)"><p>96后辣妈晒3岁孩子照片 警方：若属实则违法</p></a></li>
 
<li style="margin-right:0px;"><a href="/news/zhoukou/2014-02-28/3614.html" title="苏州被拆迁居民刺死2人被捕 将起诉公安局" target="_blank"><img src="/d/file/news/zhoukou/2014-02-28/7a1d93207de1077164aedf4ca1a817f4.jpg"  alt="苏州被拆迁居民刺死2人被捕 将起诉公安局"><p>苏州被拆迁居民刺死2人被捕 将起诉公安局</p></a></li>
</ul>
</div>
</div>
<div class="new2">
<ul>
<h3><a href="/news/zhoukou/2014-02-28/3616.html" title="老乞丐遭6名女乞丐围殴 自揭“江湖”规则(图)" target="_blank">老乞丐遭6名女乞丐围殴 自揭“江湖”</a></h3>
 

<li><a href="/news/zhoukou/2014-02-28/3615.html" title="96后辣妈晒3岁孩子照片 警方：若属实则违法(图)" target="_blank">96后辣妈晒3岁孩子照片 警方：若属实则违法(图)</a></li>
<li><a href="/news/zhoukou/2014-02-28/3614.html" title="苏州被拆迁居民刺死2人被捕 将起诉公安局" target="_blank">苏州被拆迁居民刺死2人被捕 将起诉公安局</a></li>
<li><a href="/news/huadong/2013-12-24/2048.html" title="96后辣妈晒3岁孩子照片 警方：若属实则违法(图)" target="_blank">96后辣妈晒3岁孩子照片 警方：若属实则违法(图)</a></li>
<li><a href="/news/huadong/2013-12-24/2049.html" title="上海试水国资改革：国企董事长年满63岁必须退休" target="_blank">上海试水国资改革：国企董事长年满63岁必须退休</a></li>
<li><a href="/news/huadong/2013-12-24/2046.html" title="老乞丐遭6名女乞丐围殴 自揭“江湖”规则(图)" target="_blank">老乞丐遭6名女乞丐围殴 自揭“江湖”规则(图)</a></li>
<li><a href="/news/huadong/2013-12-24/2047.html" title="浙江温岭再发暴力袭医案 卫生院领导被打脑震荡" target="_blank">浙江温岭再发暴力袭医案 卫生院领导被打脑震荡</a></li>
<li><a href="/news/huadong/2013-12-24/2037.html" title="江西发现一例人感染H10N8禽流感病例 患者已死亡" target="_blank">江西发现一例人感染H10N8禽流感病例 患者已死亡</a></li>
<li><a href="/news/huadong/2013-12-24/2045.html" title="河南：金钱豹夜袭羊群 55只羊遭踩踏挤死(图)" target="_blank">河南：金钱豹夜袭羊群 55只羊遭踩踏挤死(图)</a></li>
<li><a href="/news/huadong/2013-12-24/2035.html" title="福建福州原副市长受贿800多万 一审判15年" target="_blank">福建福州原副市长受贿800多万 一审判15年</a></li>
<li><a href="/news/huadong/2013-12-24/2036.html" title="南京一社区副书记借款百万后下落不明 纪委调查" target="_blank">南京一社区副书记借款百万后下落不明 纪委调查</a></li>
<li><a href="/news/huadong/2013-12-24/2020.html" title="毛新宇新书公布毛岸青与邵华结婚照片(组图)" target="_blank">毛新宇新书公布毛岸青与邵华结婚照片(组图)</a></li>
<li><a href="/news/huadong/2013-12-24/2034.html" title="秦始皇陵地下“军备库”曝光 或藏上千石甲石盔" target="_blank">秦始皇陵地下“军备库”曝光 或藏上千石甲石盔</a></li>
<li><a href="/news/huadong/2013-12-24/2010.html" title="男童模仿喜羊羊烧伤同伴 制作公司被判担责15%" target="_blank">男童模仿喜羊羊烧伤同伴 制作公司被判担责15%</a></li>
<li><a href="/news/huadong/2013-12-24/2014.html" title="河南男子在刑警队呕吐死亡 刑警被判滥用职权" target="_blank">河南男子在刑警队呕吐死亡 刑警被判滥用职权</a></li>
 
</ul>
</div>
</div>
<!-- -->
</div>


<div class="content1_right">
<div class="right_ad1">
<!--广告 -->
<img src="/pcstyle/newimg/ad1.jpg" border="0">

<!--广告 -->
</div>
<div class="right_001">
<div class="title2">
<p class="p1">新闻热点</p>
</div>
<!-- -->
<div class="xwt2">
<div class="xwt2_left"><a href="/jiankang/yangsheng/2013-12-25/3500.html" target="_blank"><img src="/d/file/jiankang/yangsheng/2013-12-25/fc84e29358cf149f6579fbf399cc5f9f.jpg"></a></div>
<div class="xwt2_right">
<div class="xwt2_right_a"><a href="/jiankang/yangsheng/2013-12-25/3500.html" target="_blank">预示死亡的走路姿势 从步态看全身疾病</a></div>
<div class="xwt2_right_b">2013-12-25 16:17:09</div>
</div>
</div>
<!-- -->
<div class="xwt2">
<div class="xwt2_left"><a href="/shipin/2013-12-25/2176.html" target="_blank"><img src="/d/file/shipin/2013-12-25/3346d39ce3e1c54a39012a40059354a0.jpg"></a></div>
<div class="xwt2_right">
<div class="xwt2_right_a"><a href="/shipin/2013-12-25/2176.html" target="_blank">河南老汉自制6门“红衣大炮”抗强拆</a></div>
<div class="xwt2_right_b">2013-12-25 09:40:22</div>
</div>
</div>
<!-- -->
<div class="xwt2">
<div class="xwt2_left"><a href="/pic/baoxiao/2013-12-24/2141.html" target="_blank"><img src="/d/file/pic/baoxiao/2014-02-28/4eef9372ea299821a3b35cae1babf1e6.jpg"></a></div>
<div class="xwt2_right">
<div class="xwt2_right_a"><a href="/pic/baoxiao/2013-12-24/2141.html" target="_blank">汉文化爱好者们着汉服赏樱游春</a></div>
<div class="xwt2_right_b">2013-12-24 23:19:32</div>
</div>
</div>
<!-- -->
<div class="xwt2">
<div class="xwt2_left"><a href="/shehui/falv/2013-12-25/2250.html" target="_blank"><img src="/d/file/shehui/falv/2013-12-25/cd5732154aff4d89a2e4282460fa939f.jpg"></a></div>
<div class="xwt2_right">
<div class="xwt2_right_a"><a href="/shehui/falv/2013-12-25/2250.html" target="_blank">男子砸死邻家6岁男童 留信勒索15万(图)</a></div>
<div class="xwt2_right_b">2013-12-25 12:33:46</div>
</div>
</div>
<!-- -->
<div class="xwt2">
<div class="xwt2_left"><a href="/shehui/qiwen/2013-12-25/3576.html" target="_blank"><img src="/d/file/shehui/qiwen/2013-12-25/a66d0d5448a24d5f133752e2ff82b254.jpg"></a></div>
<div class="xwt2_right">
<div class="xwt2_right_a"><a href="/shehui/qiwen/2013-12-25/3576.html" target="_blank">上海一居民家马桶内现小蛇 全家憋着不上厕所(图)</a></div>
<div class="xwt2_right_b">2013-12-25 20:09:40</div>
</div>
</div>
<!-- -->
<div class="xwt2">
<div class="xwt2_left"><a href="/yule/bagua/2013-12-25/2473.html" target="_blank"><img src="/d/file/yule/bagua/2013-12-25/566c500c6d55c3dd810a53ea8c8b2b58.jpg"></a></div>
<div class="xwt2_right">
<div class="xwt2_right_a"><a href="/yule/bagua/2013-12-25/2473.html" target="_blank">汪峰：章子怡是个由内而外美丽的女人</a></div>
<div class="xwt2_right_b">2013-12-25 13:32:06</div>
</div>
</div>
<!-- -->
</div>
<div class="right_001">
<div class="title2">
<p class="p1">新闻爆料</p>
</div>
<div class="new3">
<ul>
<!-- -->
<li><a href="/baoliao/2013-12-25/2418.html" target="_blank">宏观经济会议周启动：明年结构性减税力度有</a></li>
<!-- -->
<li><a href="/baoliao/2013-12-25/2419.html" target="_blank">环保部下放25项环评审批 专家：确保环评不是</a></li>
<!-- -->
<li><a href="/baoliao/2013-12-25/2416.html" target="_blank">媒体称内地投资重点调整：均面临高铁建完怎</a></li>
<!-- -->
<li><a href="/baoliao/2013-12-25/2417.html" target="_blank">媒体：人社部着手落实2020全民参保登记计划</a></li>
<!-- -->
<li><a href="/baoliao/2013-12-25/2414.html" target="_blank">国资委：央企申请混合所有制试点尚无具体方</a></li>
<!-- -->
<li><a href="/baoliao/2013-12-25/2415.html" target="_blank">年底“三公”紧箍咒：国务院连续发文约束</a></li>
<!-- -->
<li><a href="/baoliao/2013-12-25/2412.html" target="_blank">中国铁路总公司下属18个铁路局或明年启动整</a></li>
<!-- -->
<li><a href="/baoliao/2013-12-25/2413.html" target="_blank">媒体称中国国有企业将被分为三类进行管理</a></li>
<!-- -->
<li><a href="/baoliao/2013-12-25/2411.html" target="_blank">中纪委解读官邸制：领导一旦离岗应及时腾退</a></li>
<!-- -->
<li><a href="/baoliao/2013-12-25/2407.html" target="_blank">国务院：农产品质量安全纳入地方官员政绩考</a></li>
<!-- -->
</ul>
</div>
</div>

<div class="right_001">
<div class="title2">
<p class="p1">图片精选</p>
</div>
<div class="new4">
<ul>
<!-- -->
<li class="m_R"><a href="/pic/zhoukou/2014-02-28/3624.html" target="_blank"><img src="/d/file/pic/zhoukou/2014-02-28/edd28d456b31396ac6e98b42ebbca866.jpg"><p> 我市启动创建全国绿化模范城市工作</p></a></li>
<!-- -->

<!-- -->
<li><a href="/pic/zhoukou/2014-02-28/3623.html" target="_blank"><img src="/d/file/pic/zhoukou/2014-02-28/f535c4064adfb36ccbcd9cbf6a9d7f46.jpg"><p>周口1588对新人结良缘</p></a></li>
<!-- -->

<!-- -->
<li class="m_R"><a href="/pic/zhoukou/2014-02-28/3622.html" target="_blank"><img src="/d/file/pic/zhoukou/2014-02-28/96b8a1eea3670c43958b62b3c0682b3d.jpg"><p>村里建起乡村俱乐部</p></a></li>
<!-- -->

<!-- -->
<li><a href="/pic/zhoukou/2014-02-28/3621.html" target="_blank"><img src="/d/file/pic/zhoukou/2014-02-28/077e83dc735b9f622164e8dffb75d0c5.jpg"><p>郑春光事迹引发90后“价值观”大讨</p></a></li>
<!-- -->
</ul>
</div>
</div>
<div class="right_001">
<div class="title2">
<p class="p1">点击排行</p>
</div>
<div class="new5">
<ul>
<!-- -->
<li><a href="/news/guonei/2013-12-24/1950.html" target="_blank">嫦娥成功落月保障：“脑中”设六道“密码”</a></li>
<!-- -->
<li><a href="/news/guonei/2013-12-24/1909.html" target="_blank">中央：坚守18亿亩耕地红线 确保舌尖上的安全</a></li>
<!-- -->
<li><a href="/news/shehui/2013-12-24/2095.html" target="_blank">2014年节假日安排公布：除夕不放假 元旦休一天</a></li>
<!-- -->
<li><a href="/news/guonei/2013-12-24/1906.html" target="_blank">中央农村工作会议：要重视农村“三留守”问题</a></li>
<!-- -->
<li><a href="/news/guonei/2013-12-24/1907.html" target="_blank">政策解读:中国要强　农业必须强</a></li>
<!-- -->
<li><a href="/news/guonei/2013-12-24/1908.html" target="_blank">中国5年内完成农村土地承包经营权确权登记颁证</a></li>
<!-- -->
<li><a href="/news/guonei/2013-12-24/1923.html" target="_blank">李肇星曾讲和儿子斗嘴趣事 胡锦涛称孩子有道理</a></li>
<!-- -->
<li><a href="/news/guonei/2013-12-24/1924.html" target="_blank">中国将用10年时间投入近878亿治理京津风沙源</a></li>
<!-- -->
<li><a href="/news/guonei/2013-12-24/1925.html" target="_blank">湖南政协副主席童名谦涉严重违纪违法被调查</a></li>
<!-- -->
<li><a href="/news/guonei/2013-12-24/1934.html" target="_blank">嫦娥五号或2017年前后发射实现无人自动采样返</a></li>
<!-- -->
</ul>
</div>
</div>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>


<!--footer-->
<div class="footer">
<div class="layout_nav">
<div class="layoutLeft mr20">
<h5>联系方式</h5>
<div class="lx">
<ul>
<li class="add png_bg">地址：安徽省合肥市雨山路328号</li>
<li class="tel png_bg">联系电话：  <br>
商务电话：</li>
<li class="mail png_bg">投稿邮箱：85305518@qq.com</li>
</ul>
</div>
</div>
<div class="layoutMiddle mr20">
<h5>备案信息</h5>
<div class="lx">本网站法律顾问：柯桥律师事务所主任 王先生<br>
浙江ICP备057588888号 <br>
互联网新闻信息服务许可证：浙新网备201101号 <br>
信息网络传播视听节目许可证：1618888 </div>
</div>
<div class="layoutRight">
<h5></h5>
<div class="lx lx_link">
<ul>
<li>&gt;&gt;<a href="/about/about.html" target="_blank">网站简介</a></li>
<li>&gt;&gt;<a href="/about/ads.html" target="_blank">广告服务</a></li>
<li>&gt;&gt;<a href="/about/sm.html" target="_blank">版权声明</a></li>
<li>&gt;&gt;<a href="/about/about.html" target="_blank">工作邮箱</a></li>
<li>&gt;&gt;<a href="/about/about.html" target="_blank">联系我们</a></li>
<li>&gt;&gt;<a href="/about/lx.html" target="_blank">意见反馈</a></li>
<li>&gt;&gt;<a href="/about/lx.html" target="_blank">投稿</a></li>
<li>&gt;&gt;<a href="/about/lx.html" target="_blank">不良信息举报</a></li>
<li>&gt;&gt;<a href="/about/lx.html" target="_blank">友情链接</a></li>
</ul>
</div>
</div>
</div>
<div class="footer_line"></div>
<div class="footer_di">
Copyright 2006-2014 华东网（www.iehdw.com). All rights reserved.
</div>
</div>
<!--footer end-->
</body>
</html>
